<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="primary">

    <mat-toolbar-row [ngClass]="themeColor">
      <button mat-icon-button (click)="sidenav.toggle()">
        <!--fxHide="false" fxHide.gt-sm-->
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="./" style="outline: none; cursor: pointer">The Bugger</span>
      <!-- Filler that pushes the menu button to the end of the toolbar -->
      <span fxFlex style="text-align: center">
        <div class="button-row" *ngIf="isCostumazies">
          <button mat-mini-fab (click)="setColor('red')" style="background-color: red" [disabled]="isDarkTheme"></button>
          <button mat-mini-fab (click)="setColor('blue')" style="background-color: blue" [disabled]="isDarkTheme"></button>
          <button mat-mini-fab (click)="setColor('yellow')" style="background-color: yellow" [disabled]="isDarkTheme"></button>
          <button mat-mini-fab (click)="setColor('green')" style="background-color: green" [disabled]="isDarkTheme"></button>
          <button mat-mini-fab (click)="isDarkTheme = !isDarkTheme" (click)="setColor('dark')" class="darkBtn">
            <i *ngIf="!isDarkTheme" class="material-icons">brightness_2</i>
            <i *ngIf="isDarkTheme" class="material-icons">wb_sunny</i>
          </button>
          <button mat-button (click)="toggle()"><i class="material-icons">close</i></button>
        </div>
      </span>
      <button mat-mini-fab color="primary" [matMenuTriggerFor]="profileMenu" id="buttonProfile">
        <i class="material-icons">settings</i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlex (swipeleft)="sidenav.close()" (swiperight)="sidenav.open()">

    <mat-sidenav id="sidenav" mode="side" #sidenav opened (swipeleft)="sidenav.close()" (swiperight)="sidenav.open()">

      <mat-card>
        <div>
          <h2>{{selectedUser.name}}</h2>
          <span fxFlex="40%;"></span>
          <button mat-mini-fab color="primary" [matMenuTriggerFor]="profileMenu" id="buttonProfileMobile">
            <i class="material-icons">settings</i>
          </button>
        </div>
        <!--<mat-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></mat-icon>-->
        <p>{{selectedUser.details}}</p>
      </mat-card>
      <mat-nav-list style="height: 100%">


        <mat-list-item *ngFor="let user of users" (click)="selectedUser = user">
          <mat-icon matListAvatar svgIcon="avatars:{{user.avatar}}" class="avatar"></mat-icon>
          <span>{{user.name}}</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div fxLayout="column">
      <router-outlet (swipeleft)="sidenav.close()" (swiperight)="sidenav.open()"></router-outlet>
    </div>
  </mat-sidenav-container>


  <!--Footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr-->

  <footer>
    <mat-toolbar color='primary'>
      <mat-toolbar-row [ngClass]="themeColor">
        <span></span>
        <h3>© Copyright</h3>
        <span fxFlex></span>

        <button mat-icon-button [matMenuTriggerFor]="themeMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #themeMenu x-position="before">
          <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>

<div>
  <mat-menu #profileMenu="matMenu" id="ic" yPosition="above" [overlapTrigger]="false">
    <mat-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatarTop"></mat-icon>
    <hr>
    <button mat-menu-item (click)="toggle()">Personalizza</button>
    <button mat-menu-item routerLink="/triggers">Triggers</button>
    <button mat-menu-item routerLink="/user/modifica-profilo" (click)="sidenav.close()">Modifica Profilo</button>
    <button mat-menu-item>Esci</button>
  </mat-menu>
</div>
