<div fxLayout="row" fxLayout.xs="column" class="marginContainerCard">
    <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
      <mat-card-content>
        <button mat-button (click)="openDialog()"><h2>Left Card 1</h2></button>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
      <mat-card-content>
        <button mat-button (click)="openDialog()"><h2>Left Card 1</h2></button>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
      <mat-card-content>
        <button mat-button (click)="openDialog()"><h2>Left Card 1</h2></button>
      </mat-card-content>
    </mat-card>
</div>

<div fxLayout="row" fxLayout.xs="column" class="marginContainerCard">

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <button mat-button (click)="openDialog()"><h2>Left Card 1</h2></button>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <button mat-button (click)="openDialog()"><h2>Left Card 1</h2></button>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <button mat-button (click)="openDialog()"><h2>Left Card 1</h2></button>
    </mat-card-content>
  </mat-card>

</div>

<div fxLayout="row" fxLayout.xs="column" class="marginContainerCard">

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 1</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 2</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Right Column </h2>
    </mat-card-content>
  </mat-card>

</div>

<div fxLayout="row" fxLayout.xs="column" class="marginContainerCard">

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 1</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 2</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Right Column </h2>
    </mat-card-content>
  </mat-card>

</div>

<div fxLayout="row" fxLayout.xs="column" class="marginContainerCard">

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 1</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 2</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Right Column </h2>
    </mat-card-content>
  </mat-card>

</div>

<div fxLayout="row" fxLayout.xs="column" class="marginContainerCard">

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 1</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 2</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Right Column </h2>
    </mat-card-content>
  </mat-card>

</div>

<div fxLayout="row" fxLayout.xs="column" class="marginContainerCard">

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 1</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Left Card 2</h2>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40%;" fxFlex.xs="80%" class="marginCard">
    <mat-card-content>
      <h2>Right Column </h2>
    </mat-card-content>
  </mat-card>

</div>
