<!--<button [innerHtml]="comp"></button>-->


    <mat-tab-group>
    <mat-tab label="Sensori"><app-sensor-dialog></app-sensor-dialog></mat-tab>
    <mat-tab label="Info"><app-info-dialog></app-info-dialog></mat-tab>
    <mat-tab label="Segnala"><app-report></app-report></mat-tab>
    </mat-tab-group>

<!--<mat-button-toggle-group>-->
  <!--<mat-button-toggle value="sensori" (click)="sensorView = true; infoView = false; segnalView = false">Sensori</mat-button-toggle>-->
  <!--<mat-button-toggle value="info" (click)="infoView = true; segnalView = false; sensorView = false">Info</mat-button-toggle>-->
  <!--<mat-button-toggle value="segnala" (click)="segnalView = true; sensorView = false; infoView = false">Segnala</mat-button-toggle>-->
<!--</mat-button-toggle-group>-->
<!--<div *ngIf="sensorView"> Sensoriiiiiii</div>-->
<!--<div *ngIf="infoView"> Informazioni</div>-->
<!--<div *ngIf="segnalView"> Segnaliiiii</div>-->
<!--color="primary"-->
