<div>
  <!--<mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selected">-->
    <!--<mat-button-toggle value="Line Chart">Line Chart</mat-button-toggle>-->
    <!--&lt;!&ndash;<mat-button-toggle value="Bar Chart">Bar Chart</mat-button-toggle>&ndash;&gt;-->
  <!--</mat-button-toggle-group>-->
</div>
<!--<div>-->
<!--<mat-form-field>-->
<!--<mat-select [(value)]='fSelected' [multiple]="true">-->
<!--<mat-option value="Last Day">-->
<!--Last Day-->
<!--</mat-option>-->
<!--<mat-option value="Last Week">-->
<!--Last Week-->
<!--</mat-option>-->
<!--<mat-option value="Last Month">-->
<!--Last Month-->
<!--</mat-option>-->
<!--<mat-option value="Last Year">-->
<!--Last Year-->
<!--</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->
<!--</div>-->

<!--<div>-->
  <!--<canvas *ngIf="group.value == 'Bar Chart'" baseChart-->
          <!--[datasets]="barChartData"-->
          <!--[labels]="barChartLabels"-->
          <!--[options]="barChartOptions"-->
          <!--[legend]="barChartLegend"-->
          <!--[chartType]="barChartType"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)">-->
  <!--</canvas>-->
<!--</div>-->
<div style="margin-top: 1%">
  Ultimo Dato :  {{lineData[lineData?.length-1][1]}}°C
  <!--<google-chart *ngIf="group.value == 'Line Chart'" #cchart1 [data]="lineChartData"></google-chart>-->
  <google-chart #cchart1 [data]="lineChartData"></google-chart>

  <!--<canvas *ngIf="group.value == 'Line Chart'" baseChart width="400" height="400"-->
  <!--[datasets]="barChartData"-->
  <!--[labels]="lineChartLabels"-->
  <!--[options]="lineChartOptions"-->
  <!--[colors]="lineChartColors"-->
  <!--[legend]="lineChartLegend"-->
  <!--[chartType]="lineChartType"-->
  <!--(chartHover)="chartHovered($event)"-->
  <!--(chartClick)="chartClicked($event)">-->
  <!--</canvas>-->

</div>
