<div style="margin-top: 2%; margin-left: 2%; margin-right: 2%">
  <div *ngIf="!modifyB">
    <div fxLayout="row">
      <h1 fxFlex="20%" fxFlex.xs="80%">{{object}}</h1>
      <button fxFlex="5%" fxFlex.xs="20%" mat-button (click)="toggle()"><i class="material-icons">create</i></button>
    </div>
    <label fxLayout="row">{{description}}</label>
  </div>

  <div *ngIf="modifyB">
    <div>
      <!--style="width: 45%"-->
      <mat-form-field fxFlex="100%">
        <input matInput placeholder="Object" [(ngModel)]="objectB">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field fxFlex="100%">
        <textarea matInput placeholder="Description" [(ngModel)]="descriptionB"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-button (click)="modify('ok')">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-button (click)="modify('no')">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
</div>
