<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Dati Generali</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selected" style="margin-bottom: 3%">
      <mat-button-toggle value="Line Chart">Line Chart</mat-button-toggle>
      <mat-button-toggle value="Gauge Chart">Gauge Chart</mat-button-toggle>
    </mat-button-toggle-group>
    <google-chart *ngIf="group.value == 'Gauge Chart'" style="margin-top: 3%" [data]="gaugeChartData"></google-chart>
    <google-chart *ngIf="group.value == 'Line Chart'" style="margin-top: 3%" [data]="lineChartData"></google-chart>
  </mat-expansion-panel>
</mat-accordion>



<div>
  <h4 class="machineTitle">Le Tue Macchine</h4>
  <span></span>
  <span fxFlex></span>
  <button mat-button class="orderButton" (click)="toggle()">Sort <mat-icon>sort</mat-icon></button>
</div>

<div [ngClass]="{'sortEnable':sort==true}" [sortablejs]="users" [sortablejsOptions]="getSortableOptions()" fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap" class="marginContainerCard">
  <div fxFlex.gt-xs="100%" fxFlex.xs="100%" [fxFlex.gt-md]="100/3" [fxFlex.gt-sm]="100/2"*ngFor="let s of users; let asd = index">
    <mat-card fxFlex.xs="100%" class="marginCard" [ngClass]="{'sortEnableCard':sort==true}" (click)="openDialog(s)">
      <mat-card-content>
        {{s.avatar}}
        <br>
        {{s.name}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--sort === true ? sortEnable : sortDisable-->
