<div *ngFor="let s of users; let asd = index" style="margin-bottom: 2%; margin-top: 2%">
  <div *ngIf="check(asd)" fxLayout="row" fxLayout.xs="column" class="marginContainerCard">
    <mat-card fxFlex="31%;" fxFlex.xs="80%" class="marginCard">
      <mat-card-content>
        <button mat-button (click)="openDialog()"><h2>Left Card 1</h2></button>
        <!--<div>-->
          <!--{{users[asd].avatar}}-->
        <!--</div>-->
        <!--<div>-->
          <!--{{users[asd].name}}-->
        <!--</div>-->
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="checkO(asd)" fxFlex="31%" fxFlex.xs="80%" class="marginCard">
      <mat-card-content>
        <button mat-button (click)="openDialog()"><h2>Left Card 1</h2></button>
        <!--<div>-->
          <!--{{users[increment(asd)].avatar}}-->
        <!--</div>-->
        <!--<div>-->
          <!--{{users[increment(asd)].name}}-->
        <!--</div>-->
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="checkO(asd + 1)" fxFlex="31%" fxFlex.xs="80%" class="marginCard">
      <mat-card-content>
        <button mat-button (click)="openDialog()"><h2>Left Card 1</h2></button>
        <!--<div>-->
          <!--{{users[increment(asd +1)].avatar}}-->
        <!--</div>-->
        <!--<div>-->
          <!--{{users[increment(asd +1)].name}}-->
        <!--</div>-->
      </mat-card-content>
    </mat-card>
  </div>
</div>

