@media only screen and (max-width: 600px) {
  /*#sidenav{*/
  /*display: none;*/
  /*}*/
  #buttonProfile{
    display: none;
  }
  .marginCard{
    cursor: pointer;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .marginContainerCard{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0% !important;
    margin-bottom: 1%;
  }
}
@media only screen and (min-width: 600px) {
  .cdk-overlay-pane {
    max-width: 100% !important;
  }
  #buttonProfileMobile{
    display: none;
  }
  .marginCard{
    cursor: pointer;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .marginContainerCard{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.sortEnable{
  border: 2px dashed grey;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1.5%;
  padding-bottom: 1%;
}

.sortEnableCard{
  cursor: move;
}

.orderButton{
  margin-right: 2%;
  margin-top: 1%;
  color: #888888;
}
