<mat-accordion style="margin-top: 2%; margin-left: 2%; margin-right: 2%">

  <div fxLayout="column" style="margin-bottom: 2%;">
    <div fxLayout="row" fxLayout.xs="column" style="margin-top: 5%">
      <div fxFlex="50%" fxLayout.xs="row" style="margin-left: 5%;">
        <div fxLayout="column">
          <div fxLayout="row">
            <h3>Consumo Istantaneo - mAh</h3>
          </div>
          <div fxLayout="row">
            <google-chart style="margin: auto;" #cchart [data]="gaugeChartData"></google-chart>
          </div>
        </div>
      </div>

      <div fxFlex="50%" fxLayout.xs="row">
        <div fxLayout="column">
          <div fxLayout="row">
            <h4>Dati dell'ultima ora</h4>
          </div>
          <div>
            <p *ngFor="let item of lastFiveData">
              Ora: {{item.timestamp|amDateFormat:'HH:mm:ss'}} - {{item.value}} mAh <br>
            </p>
          </div>
        </div>
      </div>
    </div>




        <!--<google-chart style="margin: auto;" #cchart (chartReady)='ready($event)' (chartError)='error($event)' [data]="gaugeChartData"></google-chart>-->

  </div>

  <mat-expansion-panel (opened)="true" *ngFor="let s of sensorList">
  <mat-expansion-panel-header>
  <mat-panel-title>
    <h3>{{s.name}}</h3>
  </mat-panel-title>
  </mat-expansion-panel-header>
    <app-data-sensor-dialog [id]="s.id"></app-data-sensor-dialog>
  </mat-expansion-panel>
</mat-accordion>
