<div class="banner"><h3 class="scrittaBanner"><i>HOME</i></h3></div>


<mat-card class="chiSiamo">
  <h2 >Chi Siamo</h2>
<div>Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito delle variazioni
  del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali di caratteri palesemente poco
  verosimili. Se si decide di utilizzare un passaggio del Lorem Ipsum, è bene essere certi che non contenga nulla di
  imbarazzante. In genere, i generatori di testo segnaposto disponibili su internet tendono a ripetere paragrafi
  predefiniti, rendendo questo il primo vero generatore automatico su intenet. Infatti utilizza un dizionario di oltre
  200 vocaboli latini, combinati con un insieme di modelli di strutture di periodi, per generare passaggi di testo
  verosimili. Il testo così generato è sempre privo di ripetizioni, parole imbarazzanti o fuori luogo ecc.
</div>



</mat-card>

<mat-card class=" divForm">
  <h3 class="login">Accedi ai tuoi macchinari</h3>
  <mat-form-field class="inputForm">
    <input matInput placeholder="User name" [(ngModel)]="nome">
  </mat-form-field>

  <mat-form-field class="inputForm">
    <input type="password" matInput placeholder="password" [(ngModel)]="pwd">
  </mat-form-field>

  <mat-checkbox>remember me</mat-checkbox>

  <p class="forgotPassword">Forgot Password?</p>
  <div style="text-align: center">
    <button class="buttonLogin" mat-raised-button color="primary" (click)="prova()">Login</button>
  </div>
</mat-card>
<footer>

  <mat-toolbar color='primary'>©The Buggers S.p.A. - Partita IVA:13378520152</mat-toolbar>

</footer>
